/* fonts */
    *{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    p{
        font-weight: 100;
    }
/* Color al tooltip */
    .tooltip-inner {
        background-color: #2f4fff;
        box-shadow: 0px 0px 4px black;
        opacity: 1 !important;
    }
    .tooltip.bs-tooltip-right .tooltip-arrow::before {
        border-right-color: #2f4fff !important;
    }
    .tooltip.bs-tooltip-left .tooltip-arrow::before {
        border-left-color: #2f4fff !important;
    }
    .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: #2f4fff !important;
    }
    .tooltip.bs-tooltip-top .tooltip-arrow::before {
        border-top-color: #2f4fff !important;
    }
/* padding */
    .px-6{
        padding: 10px 8%;
    }
    .px-7{
        padding: 20px 15%;
    }
    section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .fa-solid{
        padding: 5px;
    }
/* Colores */
    .bg-dark{
        background-color: black !important;
    }
    a:hover{
        color: black;
    }
    a:active{
        color: white;
    }
    a{
        color: white;
    }